<div class="row">
  <div class="small-12 columns">
  	<h2>Producto encontrado</h2>

  	<% @productos.each do |producto| %>
  		<h4>Información acerca de <%= producto.nombre %></h4>
			<br>
			<br>
			<h5>Nombre: <%= producto.nombre %></h5>
			<h5>Descripcion: <%= producto.descripcion %></h5>
			<h5>Porcion: <%= producto.porcion %></h5>
			<h5>Calorias: <%= producto.caloria %></h5>
			<h5>Grasa: <%= producto.grasa %></h5>
			<h5>Carbohidratos: <%= producto.carbohidrato %></h5>
			<h5>Proteinas: <%= producto.proteina %></h5>
			<br>
  	<% end -%>
	</div>
</div>