<div class="row">
  <div class="small-12 columns">
  	<h1>FeedTag </h1><h3><small>Informacion de Nutrición y Alimentos</small></h3>
		<br>

		<div class="row">
		  <div class="small-7 small-centered columns">
		  	<%= form_tag busqueda_producto_path , method: :post, multipart: true do  %>
				  <fieldset>
				    <legend>Busca un producto</legend>
					    <label>
					    	<%= text_field_tag :producto , nil ,placeholder: "Escribe el nombre del producto" %>
					    	<%= submit_tag "Ir", class: "button postfix", name: nil %>
					    </label>
				  </fieldset>
				<% end -%>
		  </div>
		</div>

		<h3>Marcas</h3>

		<br>
		<% @categorias.each do |categoria| %>
			</br>
			<%= link_to categoria.nombre, action: :ver_categoria, nombre_clave: categoria.nombre_clave %>
			<br>
		<% end %>
		<br>

		<h3>Últimos Productos</h3>

		<br>
		<% @productos.each do |producto| %>
			</br>
			<%= link_to producto.nombre, action: :ver_producto, nombre_clave: producto.nombre_clave %>
			<br>
		<% end %>
		<br>

	</div>
</div>